.sexp-wrap {
    display: inline-block;
    border-radius: 5px;
    margin: 4px;
    padding: 5px;
    box-shadow: 1px 2px 3px #000;


    border: 1px outset #fff;
}

.wrap-defn {
    background-color: #8a5cb8;
    border: none;
}

.wrap-fn {
    background-color: #8a5cb8;
    border: none;
    padding: 0 2px;
}

.wrap-vec {
    padding:    2px 4px;
    background: #c0d860;
    border: 1px solid #62937e;
}

.wrap-if {
    background: #e1a91a;
    border: none;
}

.wrap-if-cond {
    display: inline-block;
    background: #b3b3b3;
    padding: 4px;
    margin: 0 2px;
}

.wrap-ap {
    background: #52a0e8;
    padding: 1px 2px;
}

.wrap-map {
    background: #70a992;
    border: 1px solid #62937e;
}


.wrap-map:before {
    content: "{";
    font-size: 2em;
}

.wrap-map:after {
    content: "}";
    font-size: 2em;
}

.wrap-map table {
    display: inline-block;
    border: 1px solid #c0d860;
}

.wrap-map td {
    border: 1px solid #c0d860;
}

.wrap-mapkey .sexp-item {
    margin: 1px;
}

.wrap-mapval .sexp-item {
    margin: 1px;
}







.sexp-item {
    border-radius: 5px;
    margin: 0 3px;
    padding: 2px 4px;
    vertical-align: middle;
    box-shadow: inset 1px 1px 2px #333;
}

.sexp-defn {
    box-shadow: none;
}

.sexp-defn-fname {
    border-radius: 10px;
    background: #ffd76e;
}

.sexp-if {}

.sexp-fn {
    /*background: #ffd76e;
      border-radius: 10px;*/
    box-shadow: none;
}


.sexp-val {
    background: #7197c7;
}

.sexp-symbol {
    background: #ee7d16;
}

.sexp-num {
    background: #fff;
}

.sexp-str {
    background: #77ac19;
}
